<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 타입 Alias 적용 -->
<!--<mapper namespace="mapper.UserServiceMapper">-->
<mapper namespace="sudapapa.java.boardserver.mapper.UserServiceMapper">

    <insert id="register" parameterType="sudapapa.java.boardserver.domain.UserDTO">
        INSERT INTO "member.user" VALUES (DEFAULT, #{userId}, #{password}, #{isAdmin}, DEFAULT, #{salt})
    </insert>

    <delete id="delete">
        DELETE FROM "member.user" WHERE id = #{id}
    </delete>

    <update id="updatePassword" parameterType="hashmap">
        UPDATE "member.user" SET password = #{password} WHERE id = #{id}
    </update>

    <select id="findUser" resultType="sudapapa.java.boardserver.domain.UserDTO">
        SELECT no as "userNo", id as "userId", password, "isAdmin", salt FROM "member.user" WHERE id = #{id}
    </select>

</mapper>